/* Regole generali */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.04em;
}

p {
    font-size: 18px;
}

a {
    font-weight: bold;
    font-size: 18px;
}

main > section {
    padding: 40px 0;
}


/* HEADER */
header {
    /* background-image: url("../img/jumbo.svg"); */
    background-color: #005eff;
}

header .top_navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    height: 70px;
    line-height: 70px;
}

header .top_navbar .logo img {
    max-height: 40px;
}

header .nav_menu {
    display: none;
    text-align: right;
}

header .nav_menu li {
    display: inline-block;
}

header .nav_menu li a {
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    color: #000;
}

header .nav_menu li a:hover {
    text-decoration: none;
    color: #006aff;
}

header .nav_menu li .btn {
    color: #006aff;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #006aff;
}

header .nav_menu li .btn:hover {
    color: #fff;
    background-color: #006aff;
}

header .hamburger {
    text-align: right;
    font-size: 20px;
    color: #006aff;
}

header .container .jumbotron {
    margin-top: 150px;
    margin-bottom: 60px;
    padding: 0;
    background-color: transparent;
    color: #fff;
}

header .jumbotron h1 {
    font-size: 48px;
}

header .jumbotron p {
    font-size: 18px;
    font-weight: 400;
}

header .jumbo-box {
    padding-right: 10px;
}

header .cards {
    padding: 20px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
}

header .cards h2 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

#google_button {
    position: relative;
}

header .cards .ico {
    position: absolute;
    top: 6px;
    left: 10px;
    max-height: 21px;
}

header .cards .terms {
    margin: 15px auto;
}

header .cards .terms a {
    text-decoration: underline;
}


/* main */
/* generali */
.bk-grey {
    background-color: #f3f5f9;
}

.titolo-sezione {
    text-align: center;
}

.titolo-sezione {
    margin-bottom: 50px;
}

.titolo-sezione p {
    font-weight: 300;
}

/* CARDS */
.cards {
    padding: 20px 0;
}

.cards h4 {
    font-size: 20px;
}

.cards p {
    font-weight: 300;
}

/* Carousel */
.carosello {
    margin: 60px auto 20px;
    width: 60%;
    text-align: center;
}

.carosello .slider {
    margin-bottom: 25px;
    position: relative;
}

.carosello .slider img {
    width: 100%;
}

.carosello span {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}

.carosello .slider .fas {
    display: none;
    font-size: 20px;
    color: #333;
}

.carosello .slider .fa-less-than {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
}

.carosello .slider .fa-greater-than {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
}

.carosello .pallino {
    display: inline-block;
    margin: 0 2px;
    height: 10px;
    width: 10px;
    border: solid 1px #005eff;
    border-radius: 50%;
}

.carosello .pallino.active {
    background-color: #005eff;
}


/* .customers */
.customers {
    text-align: center;
}

.customers .titolo {
    color: #888;
    font-weight: bold;
}

.customers .img {
    height: 150px;
}

.customers img {
    height: 100%;
    max-width: 100%;
}

.customers .link {
    margin-top: 25px;
}
/* /.customers */

/* .deploy */
.deploy .menu-laterale {
    margin-top: 30px;
}

.deploy .menu-laterale li {
    display: block;
    padding: 15px 10px;
    border-left: solid 2px #ccc;
}

.deploy .menu-laterale .active {
    border-color: #15afd1;
}

.deploy .menu-laterale li a {
    color: #555;
}



/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

    /* generali */
    .carosello .slider .fas {
        display: block;
    }


    .deploy .menu-laterale {
        margin-left: 20%;
    }


}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    header .nav_menu {
        display: block;
    }

    header .hamburger {
        display: none;
    }

    header .jumbotron h1 {
        font-size: 63px;
    }

    header .jumbotron p {
        font-size: 21px;
    }


    .deploy .menu-laterale {
        margin-left: 30%;
    }


}

/* DEBUG */


.carosello {

}

.get-started {
    height: 200px;
    background-color: blue;
}

footer {
    background-color: darkblue;
}
