/* Regole generali */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.04em;
}


/* HEADER */
header {
    /* background-image: url("../img/jumbo.svg"); */
    background-color: #005eff;
}

header .top_navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    height: 70px;
    line-height: 70px;
}

header .top_navbar .logo img {
    max-height: 40px;
}

header .nav_menu {
    display: none;
    text-align: right;
}

header .nav_menu li {
    display: inline-block;
}

header .nav_menu li a {
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    color: #000;
}

header .nav_menu li a:hover {
    text-decoration: none;
    color: #006aff;
}

header .nav_menu li .btn {
    color: #006aff;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

header .nav_menu li .btn:hover {
    color: #fff;
    background-color: #006aff;
}

header .hamburger {
    text-align: right;
    font-size: 20px;
    color: #006aff;
}

header .container .jumbotron {
    margin-top: 150px;
    margin-bottom: 60px;
    padding: 0;
    background-color: transparent;
    color: #fff;
}

header .jumbotron h1 {
    font-size: 48px;
}

header .jumbotron p {
    font-size: 18px;
    font-weight: 400;
}

header .jumbo-box {
    padding-right: 10px;
}

header .cards {
    padding: 20px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
}

header .cards h2 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

#google_button {
    position: relative;
}

header .cards .ico {
    position: absolute;
    top: 6px;
    left: 10px;
    max-height: 21px;
}

header .cards .terms {
    margin: 15px auto;
}

header .cards .terms a {
    text-decoration: underline;
}


/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    header .nav_menu {
        display: block;
    }

    header .hamburger {
        display: none;
    }

    header .jumbotron h1 {
        font-size: 63px;
    }

    header .jumbotron p {
        font-size: 21px;
    }


}

/* DEBUG */

/* [class*="col-"] {
    height: 150px;
    background-color: #ddd;
    border: solid 2px #fff;
} */


section {
    margin: 50px auto;
}

.carosello {

}

.get-started {
    height: 200px;
    background-color: blue;
}

footer {
    background-color: darkblue;
}
